
@import "reset.css";

@font-face {
	font-family: 'PTSans-narrow';
  src:url('../fonts/PTN57F-webfont.eot');
  src:url('../fonts/PTN57F-webfont.eot') format('embedded-opentype'),
      url('../fonts/PTN57F-webfont.woff') format('woff'),
      url('../fonts/PTN57F-webfont.ttf') format('truetype'),
      url('../fonts/PTN57F-webfont.svg') format('svg');
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'PTSans-narrow-bold';
  src:url('../fonts/PTN77F-webfont.eot');
  src:url('../fonts/PTN77F-webfont.eot') format('embedded-opentype'),
      url('../fonts/PTN77F-webfont.woff') format('woff'),
      url('../fonts/PTN77F-webfont.ttf') format('truetype'),
      url('../fonts/PTN77F-webfont.svg') format('svg');
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'PTSans-regular';
  src:url('../fonts/PTS55F-webfont.eot');
  src:url('../fonts/PTS55F-webfont.eot') format('embedded-opentype'),
      url('../fonts/PTS55F-webfont.woff') format('woff'),
      url('../fonts/PTS55F-webfont.ttf') format('truetype'),
      url('../fonts/PTS55F-webfont.svg') format('svg');
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'PTSans-regular-bold';
  src:url('../fonts/PTS75F-webfont.eot');
  src:url('../fonts/PTS75F-webfont.eot') format('embedded-opentype'),
      url('../fonts/PTS75F-webfont.woff') format('woff'),
      url('../fonts/PTS75F-webfont.ttf') format('truetype'),
      url('../fonts/PTS75F-webfont.svg') format('svg');
	-webkit-font-smoothing: antialiased;
}

/* basis font */
h1,h2,h3,h4,h5,h6{font-family:PTSans-narrow-bold,Helvetica !important;}
h1{font-size:28px !important}
h2{font-size:22px !important}
h3{font-size:20px !important}
h4{font-size:16px !important}
h5{font-size:14px !important}
h6{font-size:12px !important}

a:hover{color:#333333 !important}

strong,.strong{font-weight:900 !important;}

body{font-family:PTSans-narrow,Helvetica !important;}
p{font-family:PTSans-narrow,Helvetica !important;}
div,section{font-family:PTSans-narrow,Helvetica !important;}
textarea{font-family:PTSans-narrow}

input[type="text"]:focus,textarea:focus,input[type="password"]:focus{

	-webkit-transition-property: border;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
		-moz-transition-property: border;
		-moz-transition-duration: 2s;
		-moz-transition-timing-function: ease;
			-o-transition-property: border;
			-o-transition-duration: 2s;
			-o-transition-timing-function: ease;
				-ms-transition-property: border;
				-ms-transition-duration: 2s;
				-ms-transition-timing-function: ease;
  transition-property: border;
  transition-duration: 2s;
  transition-timing-function: ease;
	border:1px solid #E67815 !important;
}

.ptsans-regular{font-family:PTSans-regular !important;}
.ptsans-regular-bold{font-family:PTSans-regular !important;}

.ptsans-narrow{font-family:PTSans-narrow !important;}
.ptsans-narrow-bold{font-family:PTSans-narrow-bold !important;}

.fs12{font-size:12px !important;}
.fs14{font-size:14px !important;}
.fs16{font-size:16px !important;}
.fs18{font-size:18px !important;}
.fs20{font-size:20px !important;}
.fs22{font-size:22px !important;}
.fs24{font-size:24px !important;}
.fs26{font-size:26px !important;}
.fs28{font-size:28px !important;}

.clearfix{display:block;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; margin-bottom: 0 }

.center{text-align:center !important;}
.left{text-align:left !important;}
.right{text-align:right !important;}

.pointer{cursor:pointer}
.underline{text-decoration:underline}

.radius5{
			-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	border-radius: 5px;
}

.radius10{
			-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	border-radius: 10px;
}
.circle-radius{
	border-radius: 50%;
		-webkit-border-radius:50%;
			-moz-border-radius:50%;
}
.float-left{float:left}
.float-right{float:right}

input{
	font-family:PTSans-narrow,Helvetica !important;
	font-size:14px;
	border-color: #989EA4 -moz-use-text-color #BABFC5 #AAB0B6;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
	padding:3px 5px;
}

/** styling */
.full{width:100%;margin:auto;}
.wrapper{width:1140px;margin:auto;}
.header{background:url('../images/header_normal_12.png') no-repeat center;padding:20px 0;position:relative;}

.nav-1{
	
	background: #4876BF;
	background: linear-gradient(#4876BF, #3864A6);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#4876BF), to(#3864A6));
	background: 	-webkit-linear-gradient(#4876BF, #3864A6);
	background: 		-moz-linear-gradient(#4876BF, #3864A6);
	background: 		-ms-linear-gradient(#4876BF, #3864A6);
	background: 			-o-linear-gradient(#4876BF, #3864A6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4876BF', endColorstr='#3864A6');/*For IE7-8-9*/
}
.nav-2{
			-webkit-box-shadow: #666 0px 1px 2px;
		-moz-box-shadow: #666 0px 1px 2px;
	box-shadow: #666 0px 1px 2px;
}

ul.navi{
	display:inline-block;
}
ul.navi li{float:left;color:#FFFFFF;padding:8px 40px;display:block}
ul.navi li:hover{
	background:#133C7A;
	-webkit-transition-property: background color;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;
		-moz-transition-property: background color;
		-moz-transition-duration: 1s;
		-moz-transition-timing-function: ease;
			-o-transition-property: background color;
			-o-transition-duration: 1s;
			-o-transition-timing-function: ease;
				-ms-transition-property: background color;
				-ms-transition-duration: 1s;
				-ms-transition-timing-function: ease;
	transition-property: background color;
	transition-duration: 1s;
	transition-timing-function: ease;
}
.newsticker{color:#416EB4;padding:5px 0}
.newbox{background:#FF0000;color:#FFFFFF;margin:0 5px;padding:0 5px;}

.search-form{
	width:300px;
	position:absolute;
	bottom:20px;
	left:330px;
}
ul.rightnavi li{float:left;padding:0 10px;color:#406DB3}
div.search_btn{
	display:inline;
			-webkit-border-bottom-right-radius: 4px; 
		-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
			-webkit-border-top-right-radius: 4px; 
		-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	
	cursor:pointer;
	color:#FFFFFF;
	
	padding:2px 10px;
	background: #9FC956;
	background: linear-gradient(#9FC956, #6E962A);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#9FC956), to(#6E962A));
	background: 	-webkit-linear-gradient(#9FC956, #6E962A);
	background: 		-moz-linear-gradient(#9FC956, #6E962A);
	background: 		-ms-linear-gradient(#9FC956, #6E962A);
	background: 			-o-linear-gradient(#9FC956, #6E962A);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9FC956', endColorstr='#6E962A');/*For IE7-8-9*/
}
div.search_btn:hover,a.help_btn:hover{
	opacity:0.8
}
a.help_btn{
	
			-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	border-radius: 2px;
	background:#F4F7F8;
	background: linear-gradient(#F4F7F8, #D6D6D6);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#F4F7F8), to(#D6D6D6));
	background: 	-webkit-linear-gradient(#F4F7F8, #D6D6D6);
	background: 		-moz-linear-gradient(#F4F7F8, #D6D6D6);
	background: 		-ms-linear-gradient(#F4F7F8, #D6D6D6);
	background: 			-o-linear-gradient(#F4F7F8, #D6D6D6);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F4F7F8', endColorstr='#D6D6D6');/*For IE7-8-9*/
	padding:0 6px;
	border:1px solid #AAAAAA;
}
.main{
	padding:30px 0;
}

.socmed-wrapper{display: inline-block;}
.bottom{vertical-align: bottom !important;}
.top{vertical-align: top !important;}
.socmed{
	height: 48px;
	width:48px;
	float: none;
	cursor: pointer;
	padding: 20px;
	vertical-align: middle;
	display: inline-block;
	position:relative;
	margin:0 auto;
}
.socmed img{
	position:absolute;
	left:0;
			-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	vertical-align:middle;
}
.socmed img.top:hover{
	opacity:0;
	vertical-align:middle;
}
.footer{
	border-top:1px solid #BCBCBC;
	background:#EEEEEE;
	padding:5px 0;
}
.copy{
	background:#474747;
	color:#EAEAEA;
	padding:5px 0;
}


/** main */
.ticket-box{
	background:#4471B8;
			-webkit-border-top-right-radius: 4px; 
		-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
			-webkit-border-top-left-radius: 4px; 
		-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	padding:5px;
	position:relative;
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
}
.train-white{position:absolute;top:13px;left:13px}
.ticket-wrapper{background:#FFFFFF;padding:20px;
	background: linear-gradient(#FFFFFF, #E8EBFF);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#E8EBFF));
	background: 	-webkit-linear-gradient(#FFFFFF, #E8EBFF);
	background: 		-moz-linear-gradient(#FFFFFF, #E8EBFF);
	background: 		-ms-linear-gradient(#FFFFFF, #E8EBFF);
	background: 			-o-linear-gradient(#FFFFFF, #E8EBFF);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#B6CFF9');/*For IE7-8-9*/
}
ul.ticket-tabs{margin-left:45px;margin-top:10px;}

ul.ticket-tabs li{float:left;margin:0 1px; padding:7px 20px;display:block;
	border-bottom:1px solid #34588E;
			-webkit-border-top-right-radius: 4px; 
		-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
			-webkit-border-top-left-radius: 4px; 
		-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	
	background:#D6E5FF;
	background: linear-gradient(#D6E5FF, #B6CFF9);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#D6E5FF), to(#B6CFF9));
	background: 	-webkit-linear-gradient(#D6E5FF, #B6CFF9);
	background: 		-moz-linear-gradient(#D6E5FF, #B6CFF9);
	background: 		-ms-linear-gradient(#D6E5FF, #B6CFF9);
	background: 			-o-linear-gradient(#D6E5FF, #B6CFF9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D6E5FF', endColorstr='#B6CFF9');/*For IE7-8-9*/
}
ul.ticket-tabs li:hover{
	background:#F2FDFF;
	background: linear-gradient(#F2FDFF, #B6CFF9);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#F2FDFF), to(#B6CFF9));
	background: 	-webkit-linear-gradient(#F2FDFF, #B6CFF9);
	background: 		-moz-linear-gradient(#F2FDFF, #B6CFF9);
	background: 		-ms-linear-gradient(#F2FDFF, #B6CFF9);
	background: 			-o-linear-gradient(#F2FDFF, #B6CFF9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F2FDFF', endColorstr='#B6CFF9');/*For IE7-8-9*/
}
ul.ticket-tabs li a{color:#4471B8;text-decoration:none;}

ul.ticket-tabs li.ui-tabs-active{
	border-bottom:1px solid #FFFFFF;
	background:#FFFFFF;
			-webkit-border-top-right-radius: 4px; 
		-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
			-webkit-border-top-left-radius: 4px; 
		-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}
ul.ticket-tabs li.ui-tabs-active a{color:#4471B8}
div.city{
	cursor:pointer;
	padding:1.5px 10px;display:inline;background:#EAEAEA;border:1px solid #BABFC5;border-left:none;
}

input.city{width:235px}
input.tanggal{width:135px}
.form-label{color:#61ADE9;border-right:3px solid #61ADE9;margin:0 5px;padding:4.5px 0}


.orange-button {
	padding:3px 5px;
			-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
			-webkit-border-top-left-radius:0px;
		-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
			-webkit-border-top-right-radius:0px;
		-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
			-webkit-border-bottom-right-radius:0px;
		-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
			-webkit-border-bottom-left-radius:0px;
		-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}
.orange-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}.orange-button:active {
	position:relative;
	top:1px;
}

.sch-wrapper{
			-webkit-border-top-right-radius: 4px; 
		-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
			-webkit-border-top-left-radius: 4px; 
		-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	background:#383838;
	background: linear-gradient(#383838, #787878);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#383838), to(#787878));
	background: 	-webkit-linear-gradient(#383838, #787878);
	background: 		-moz-linear-gradient(#383838, #787878);
	background: 		-ms-linear-gradient(#383838, #787878);
	background: 			-o-linear-gradient(#383838, #787878);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#383838', endColorstr='#787878');/*For IE7-8-9*/
	padding:5px;
	padding-top:40px;
}
.sch-item{
	background:#2B2B2B;
	border-bottom:1px solid #787878;
}
.sch-item td{
	padding:4px 5px;
	color:#EAEAEA;
}
.sch-item td.green{color:#BEDF02}
.sch-item-head tr th{padding:5px; color:#F4B139}

ul.nav-left{
}
.nav-left li.head{
	padding:5px 10px;
	background:#3F6CB1;
	color:#FFFFFF;
}
.nav-left li{
	padding:10px;
	border-bottom:1px solid #CCCCCC;
	position:relative;
	color:#555555;
}

.nav-left li:hover{
	color:#3F6CB1;
}

span.raquo{
	position:absolute;
	right:10px;
}
.latestnews{
	border:1px solid #DDDDDD;
	margin:20px 0;
	
}
.news-heading{
	background:#FFFFFF;
	background: linear-gradient(#FFFFFF, #F2F3F3);
	background: 	-webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#F2F3F3));
	background: 	-webkit-linear-gradient(#FFFFFF, #F2F3F3);
	background: 		-moz-linear-gradient(#FFFFFF, #F2F3F3);
	background: 		-ms-linear-gradient(#FFFFFF, #F2F3F3);
	background: 			-o-linear-gradient(#FFFFFF, #F2F3F3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F2F3F3');/*For IE7-8-9*/
}
.footer-menu li{
	text-decoration:underline;
	padding:8px 0;
	cursor:pointer;
}
.footer-menu li:hover{
	color:#3E6BAF;
}
.footer h3{
	padding:8px 0;
}

input[type=radio]:checked + label:before {  
  content: "\2022";  
  color: #f3f3f3;  
  font-size: 30px;  
  text-align: center;  
  line-height: 18px;  
}  
.has-js .label_check,
.has-js .label_radio { padding: 0 26px; }
.has-js .label_radio { background: url(../images/radio-off.png) no-repeat; }
.has-js .label_check { background: url(../images/check-off.png) no-repeat; }
.has-js label.c_on { background: url(../images/check-on.png) no-repeat; }
.has-js label.r_on { background: url(../images/radio-on.png) no-repeat; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }

	font-family: Nunito, arial, verdana;
}
#accordian {
	background: #FFFFF;
	width: 250px;
	margin: 100px auto 0 auto;
	
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
	font-size: 18px !important;
	line-height: 34px;
	padding: 0 10px;
	color:#555555;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #FFFFFF; 
	border-bottom: 1px solid #CCCCCC;
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	background: #EAEAEA;
	transition: all 0.15s;
	border-left: 5px solid #555555;
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
	position: relative;
}
/*links*/
#accordian ul ul li a {
	color: #555555;
	text-decoration: none;
	font-size: 16px;
	line-height: 35px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #EAEAEA;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
.pilihkota:hover{

	background:#DEDEDE;
}
ul.navi li.pointer a{color:#FFFFFF;text-decoration: none;}
.page-title{color:#3A66A9;text-decoration: underline;line-height: 24px;}

.kai-gallery{
	margin:20px;
}
.kai-gallery-wrapper{
	display: inline;
}
.kai-gallery a img{
	margin:8px;
	padding:8px; 
	border:1px solid #DDDDDD;

}
.kai-gallery a img:hover{
	background:#EAEAEA;
	transition: all 1s;
}


    .myButton {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #284470;
        -webkit-box-shadow:inset 0px 1px 0px 0px #284470;
        box-shadow:inset 0px 1px 0px 0px #284470;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #516ca3));
        background:-moz-linear-gradient(top, #415989 5%, #516ca3 100%);
        background:-webkit-linear-gradient(top, #415989 5%, #516ca3 100%);
        background:-o-linear-gradient(top, #415989 5%, #516ca3 100%);
        background:-ms-linear-gradient(top, #415989 5%, #516ca3 100%);
        background:linear-gradient(to bottom, #415989 5%, #516ca3 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#516ca3',GradientType=0);
        
        background-color:#415989;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        border:1px solid #103887;
        
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        padding:6px 11px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #263666;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #516ca3), color-stop(1, #415989));
        background:-moz-linear-gradient(top, #516ca3 5%, #415989 100%);
        background:-webkit-linear-gradient(top, #516ca3 5%, #415989 100%);
        background:-o-linear-gradient(top, #516ca3 5%, #415989 100%);
        background:-ms-linear-gradient(top, #516ca3 5%, #415989 100%);
        background:linear-gradient(to bottom, #516ca3 5%, #415989 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#516ca3', endColorstr='#415989',GradientType=0);
        
        background-color:#516ca3;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

.clicked{background:#DDDDDD;}
.kereta-api-result{
	border:1px solid #C0C0C0;
	padding:10px 0;
	margin:10px 0;
	font-weight: 900;
}
#crumbs ul li a {
	float:left;
}
#crumbs ul li a {
	display: block;
	float: left;
	height: 50px;
	background: #3D6AAE;
	text-align: center;
	padding: 30px 40px 0 40px;
	position: relative;
	margin: 0 10px 0 0; 
	
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
#crumbs ul li a:after {
	content: "";  
	position: absolute; right: -40px; top: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #3D6AAE;
}
#crumbs ul li a.next:before {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #FFFFFF;
	position: absolute; left: 0; top: 0;
}
#crumbs {
	text-align: center;
}

	#crumbs ul {
		list-style: none;
		display: inline-table;
	}
		#crumbs ul li {
			display: inline;
		}
	
		#crumbs ul li a {
			display: block;
			float: left;
			height: 50px;
			background: #3B67AA;
			text-align: center;
			padding: 30px 30px 0 50px;
			position: relative;
			margin: 0 10px 0 0; 
			
			font-size: 18px;
			text-decoration: none;
			color: #fff;
		}
		
			#crumbs ul li a:after {
				content: "";  
				border-top: 40px solid transparent;
	 			border-bottom: 40px solid transparent;
	  			border-left: 40px solid #3B67AA;
				position: absolute; right: -40px; top: 0;
				z-index: 1;
			}
			
			#crumbs ul li a:before {
				content: "";  
				border-top: 40px solid transparent;
	  			border-bottom: 40px solid transparent;
	  			border-left: 40px solid #FFFFFF;
				position: absolute; left: 0; top: 0;
			}

			#crumbs ul li a.current{
				background: #E57918;
			}
			#crumbs ul li a.current:after {
				content: "";  
				border-top: 40px solid transparent;
	 			border-bottom: 40px solid transparent;
	  			border-left: 40px solid #E57918;
				position: absolute; right: -40px; top: 0;
				z-index: 1;
			}
			#crumbs ul li a.current:before {
				content: "";  
				border-top: 40px solid transparent;
	  			border-bottom: 40px solid transparent;
	  			border-left: 40px solid #FFFFFF;
				position: absolute; left: 0; top: 0;
			}
	
				#crumbs ul li:first-child a {
					border-top-left-radius: 10px; border-bottom-left-radius: 10px;
				}
				#crumbs ul li:first-child a:before {
					display: none; 
				}
				
				#crumbs ul li:last-child a {
					padding-right: 80px;
					border-top-right-radius: 10px; border-bottom-right-radius: 10px;
				}
				#crumbs ul li:last-child a:after {
					display: none; 
				}
			
			.select-gerbong{
				cursor: :pointer;
			}
			.select-gerbong:hover{
				color:#3B67AA;
				text-decoration: underline;
			}

			.select-seat:hover{
				background:#555555 !important;
			}

			.kursiclicked{
				background: #555555 !important;
			}
			.maintable{
	border-bottom: 2px solid #8B8B8B;
	width: 100%;
	margin:20px 0;
}
.default-color{
	border:1px solid #DDDDDD;
}
.maintable thead tr{
	background: #71C39A;
}
.maintable thead tr th{
	padding:7px 5px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.maintable tbody tr td{
	border-color:#DDDDDD;
	border-width: 1px;
	border-style: solid;
	padding:5px 10px;
}
.maintable tbody tr:nth-child(even) {
	background: #FAFAFA;
}